@import url(http://fonts.googleapis.com/css?family=Pacifico&effect=shadow-multiple);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

/*
Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/

.wow {
	visibility: hidden;
}

html {
	height: 100%;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Cabin Sketch', bold;
	background: #E1EFF4;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
	color: #333;
}

a {
	font-family: 'Cabin Sketch', cursive;
	text-shadow: -2px -2px 2px rgba(255,255,255,0.1);
	color: #555;
	text-decoration: none;
}

h1 {
	font-family: 'Pacifico', cursive;
	transform: rotateZ(-9.7082039325deg);
	text-shadow: -1px -1px 1px rgb(244,44,60) , 1px 1px 1px rgb(2,235,216) ;
	overflow: hidden;
    overflow-x: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
  	border: none;
	color: #555;
	/*color: rgb(51, 51, 51);*/
  	-o-text-overflow: clip;
  	text-overflow: clip;
	padding: 15%;
  	z-index: 999;
}

 .box {
	border: double 6px #555;
	/*border: double 3px rgb(20, 217, 217);*/
	background: rgba(255, 255, 255, 0.9);
	padding: 0px 10px 15px 0px;
	 /*padding: 0px 10px 10px 0px;*/
	 margin: 4px 4px 0px 4px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

h1:hover {
	background: rgba(255, 255, 255, 0.2);
	text-shadow: -1px -1px 1px rgb(20,217,217) , 1px 1px 1px rgb(255,38,38) ;
	color: #111;
	/*box-shadow: 0px 0px 1px rgba(255,255,255,0.1);*/
	/*background: rgba(255, 255, 255, 0.2);*/
	/*color: #555;*/
	/*text-shadow: -3px -3px 3px rgb(20,241,241) , -10px 4px -10px rgb(246,5,10);*/
	/*box-shadow: 0px 0px 1px rgba(255,255,255,0.1);*/
}


.container {
	width: 100%;
	position: relative;
}

/*.codrops-top > header {*/
	/*width: 100vw;*/
	/*max-width: 220px;*//*220px;*/
	/*margin: 0 auto;*/
	/*position: relative;*/
	/*padding: 15% 30px 10% 30px;*/
	/*text-align: center;*/
/*}*/

/*.container > header h1 {*/
	/*font-size: 5vw;*/
	/*line-height: 40px;*/
	/*margin: 0 auto;*/
	/*font-weight: 700;*/
	/*color: #333;*/
/*}*/

header {
	width: 100vw;
	max-width: 220px;/*220px;*/
	margin: 0 auto;
	position: relative;
	padding: 15% 30px 10% 30px;
	text-align: center;
}

.box > h1 {
	font-size: 210%;
	line-height: 40px;
	margin: 0 auto;
	font-weight: 100;
	color: #333;

}

header > span {
	font-size: 1.2vh;
	display: inline-block;
	text-align: left;
	font-weight: 900;
	color: #f9f9f9;
	text-shadow: 1px 3px 1px rgba(0,0,0,0.9);
	text-shadow: -1px -2px 1px rgb(20,241,241) , 1px -3px 1px rgb(246,5,10) ;
}

.container > header span {
	font-size: 90%;
	display: inline-block;
	/*font-stretch: inherit;*/
	/*font-size: 10px;*/
	font-weight: 900;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #333;
	/*background: rgba(255, 255, 255, 0.5);*/
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 9999px rgba(0,0,0,0.2);
}

.codrops-top a {
	font-style: italic;
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #f9f9f9;
	display: inline-block;
	/*font-size: 1.2vh;*/
	text-align: left;
	font-weight: 900;
	/*color: #f9f9f9;*/
	text-shadow: 1px 3px 1px rgba(0,0,0,0.9);
	text-shadow: -1px -2px 1px rgb(20,241,241) , 1px -3px 1px rgb(246,5,10) ;

}

.codrops-top a:hover {
	background: rgba(255,255,255,0.5);
	color: #666;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}
.codrops-bottom {
	/*line-height: 25px;*/
	background: #E1EFF4;
	background: rgba(255, 255, 255, 0.5);
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.2);
}
.codrops-bottom span.center {
	float: inherit;
}

.codrops-bottom  img {
	padding: 5px 2px 5px;
}
